<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38015704260-u7onbpusgrgp11ghjlcigragmlbn20gg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38015704260-u7onbpusgrgp11ghjlcigragmlbn20gg</string>
	<key>API_KEY</key>
	<string>AIzaSyAVmxt4_K_LshWzsetlOVoPhLKuIKucmJc</string>
	<key>GCM_SENDER_ID</key>
	<string>38015704260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MohamadBasuony.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>udacityproject-1841f</string>
	<key>STORAGE_BUCKET</key>
	<string>udacityproject-1841f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38015704260:ios:a019840c7d103bad</string>
	<key>DATABASE_URL</key>
	<string>https://udacityproject-1841f.firebaseio.com</string>
</dict>
</plist>